/* ==========================================================================
   Author's custom styles
   ========================================================================== */
 body {
    padding-top: 50px;
    padding-bottom: 20px;
}

h1 {
	font-family: Geostar;
	font-size: 50px;
	padding: 20px;
}

form {
	padding: 75px;
}
.form-control {
	color: #F23F90;
}

footer {
	padding: 20px;
}
a {
	color: #F23F90;
}

#images li {
    width: 300px;
}

ul#images {
    list-style-type: none;
}

.modal-body img {
    width: 100%;
    height: auto;
}

hr {
    clear: both;
}

.btn-fis {
	border: 2px solid #000;
	border-radius: 0;
	padding: 10px 20px;
	background-color: #fff;
	color: #000;
}

.btn-fis:hover, .btn-fis:focus, .btn-fis:active {
	padding: 10px 20px;
	background-color: #000;
	color: #fff;
}

.fis .input-lg, .fis .form-group-lg .form-control {
    border-radius: 0;
    border: 2px solid #000;
}

#images .btn-fis {
	margin-top: 15px;
	margin-bottom: 15px;
}

.item {
	margin-bottom: 50px;
}






