/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	padding-left: 150px;
	padding-right: 150px;
}

h1 {
	font-family: Geostar;
	font-size: 50px;
	padding: 20px;
}

form {
	padding: 75px;
}
.form-control {
	color: #F23F90;
}

footer {
	padding: 20px;
}
a {
	color: #F23F90;
}

#images li {
    width: 300px;
}

ul#images {
    list-style-type: none;
}

.modal-body img {
    width: 100%;
    height: auto;
}

hr {
    clear: both;
}
